---
import Layout from "@/layouts/Layout.astro";

const { slug } = Astro.params;
//const url = new URL(Astro.request.url);
//console.log(slug, url)
// fetch all data for the org: basic info and pets available for adoption
---
<Layout>
    <div class="container mx-auto px-4 py-12">
        <div class="p-4 rounded-lg bg-card/80 text-foreground mt-6 flex flex-col md:flex-row gap-4">
            <img src="https://picsum.photos/200" alt="" class="rounded-lg w-32 h-fit border-2 border-primary">

            <div>
                <h2>Información de la organización</h2>
                <p class="text-muted-foreground">https://adoptables.mx/org/{slug}</p>
                <p>facebook url</p>
                <p>instagram url</p>
                <p>website url</p>
            </div>


        </div>

        <h3>Lista de Adoptables</h3>
        <p>...</p>
    </div>
</Layout>
