---
import AdoptionForm from "@/components/AdoptionForm.astro";
import Layout from "@/layouts/Layout.astro";
import { fetchPetAndRules } from "@/lib/utils";

const { petSlug } = Astro.params;

const { pet, rule, organization } = await fetchPetAndRules(petSlug!);

if (!pet) {
	return Astro.redirect("/adoptables", 302); // Use 302 for a temporary redirect
}
---

<Layout>
	<div class="container mx-auto px-4 py-12">
		<h3 class="text-center text-2xl text-primary">
			Solicitud de adopción de <strong>{pet.name}</strong>
		</h3>

		<p class="text-center py-4 font-semibold">
			Los datos estan protegidos y se usarán sólo para este proceso.
		</p>

		<AdoptionForm pet={pet} organization={organization} />
	</div>
</Layout>
