---
import Layout from "@/layouts/Layout.astro";
---
<Layout>
    <section class="py-12">
        <div class="container mx-auto px-4">

            <div class="text-center mb-12">
              <h1 class="text-4xl md:text-6xl font-bold mb-4">¿Como funciona <span class="text-primary">Adoptables</span>?</h1>
              <p class="text-xl text-muted-foreground max-w-4xl mx-auto">
                  Adoptar un lomito o michi es muy sencillo, solo debe seguir los siguientes pasos.
              </p>
            </div>


            <div class="max-w-5xl mx-auto">
                <section class="border-2 rounded-3xl bg-card text-card-foreground mb-8">
                    <p>...</p>
                </section>
            </div>
        </div>
    </section>
</Layout>
