---
import Layout from '../layouts/Layout.astro';

import Hero from '@/components/Hero.astro';
import MostRecentPets from '@/components/MostRecentPets.astro';
import BlogPosts from '@/components/BlogPosts.astro';
---

<Layout>
    <main>
      <Hero />
      <MostRecentPets />
      <BlogPosts />
    </main>
</Layout>
