---
import { actions } from "astro:actions";

import PetCard from "@/components/PetCard.astro";

const results = await Astro.callAction(actions.recent_pets, {
	limit: 4,
});

const recentPets = results.data?.pets || [];
---

<section class="py-20 bg-muted/30">
	<div class="container mx-auto px-4">
		<div class="text-center mb-12">
			<h2 class="text-4xl md:text-5xl font-bold mb-4">
				Adoptables Recién Llegados
			</h2>
			<p class="text-xl text-muted-foreground max-w-2xl mx-auto">
				Conoce a algunos de los más nuevos peluditos que buscan por su
				hogar ideal
			</p>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
			{recentPets.map((pet) => <PetCard {...pet} />)}
		</div>
	</div>
</section>
