<footer class="pt-10 text-white pb-4">
  <div class="w-full max-w-xl mx-auto p-4 flex justify-between items-center">
    <a href="/">
      <img
        class="w-32 drop-shadow drop-shadow-black/30"
        src="/adoptables-logo.svg"
        alt="adoptables mexico logo"
      />
    </a>

    <nav>
      <ul class="flex justify-center items-center">
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-6"
            href="/privacidad">Privacidad</a
          >
        </li>
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-6"
            href="/aviso-legal">Aviso Legal</a
          >
        </li>
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-6"
            href="/contacto">Facebook</a
          >
        </li>
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-6"
            href="#">Donación</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="text-center">
    <small class="opacity-80"
      >© 2025 Ungravity Dev S. de R.L. - <a
        class="hover:underline"
        href="mailto:hola@adoptables.mx">hola@adoptables.mx</a
      >
    </small>
  </div>
</footer>
